
.icon-download:before { content: '\e800'; } /* '' */
.icon-down-dir:before { content: '\e801'; } /* '' */
.icon-puzzle:before { content: '\e802'; } /* '' */
.icon-cancel:before { content: '\e803'; } /* '' */
.icon-link:before { content: '\e804'; } /* '' */
.icon-mobile:before { content: '\f10b'; } /* '' */
.icon-help:before { content: '\f128'; } /* '' */
.icon-ok-squared:before { content: '\f14a'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
